<ion-content class="ion-padding animated fadeIn visitor">
  <video autoplay loop muted class="bg-video">
    <source src="assets/videos/background.mp4" type="video/mp4" />
    <source src="assets/videos/background.webm" type="video/webm" />
  </video>

  <div class="content">
    <div class="ion-padding-horizontal ion-text-center animated fadeInRight">
      <div class="logo"></div>
      <h4 class="ion-no-margin">
        <ion-text color="tertiary" class="fw-300">Booking</ion-text>
        <ion-text color="light" class="fw-700">Trip</ion-text>
      </h4>
    </div>

    <!-- Page that Customers Logged in -->
    <form
      class="form-fields"
      [formGroup]="loginForm"
      (ngSubmit)="authenticate()"
    >
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating" color="light">
          <ion-icon name="mail" item-start color="secondary"></ion-icon>
          &nbsp;Email
        </ion-label>
        <ion-input
          type="email"
          color="light"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating" color="light">
          <ion-icon name="lock-closed" item-start color="secondary"></ion-icon>
          &nbsp;Password
        </ion-label>
        <ion-input
          type="password"
          color="light"
          formControlName="password"
        ></ion-input>
      </ion-item>
    </form>

    <p
      (click)="forgotCredentialsModal()"
      class="ion-text-right text-link"
      tappable
    >
      <ion-text color="light">
        <p class="text-10">Forgot your password ?</p>
      </ion-text>
    </p>

    <div>
      <ion-button
        icon-left
        size="medium"
        expand="full"
        shape="round"
        color="dark"
        tappable
      >
        <ion-icon name="log-in"></ion-icon>
        &nbsp; Sign in
      </ion-button>

      <h6 class="ion-text-center text-media">
        <ion-text color="secondary">Or sign in with </ion-text>
      </h6>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button
              shape="round"
              expand="full"
              fill="solid"
              color="secondary"
            >
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button
              shape="round"
              expand="full"
              fill="solid"
              color="secondary"
            >
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button
              shape="round"
              expand="full"
              fill="solid"
              color="secondary"
            >
              <ion-icon slot="icon-only" name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="ion-text-center ion-margin-top">
      <span (click)="openRegisterPage()" class="text-link" tappable>
        <ion-text color="light">
          Ready to start booking? <strong>Sign up</strong>
        </ion-text>
      </span>
    </div>
  </div>
</ion-content>
