.wrapper-deals {
  &::before {
    content: "";
    width: 100%;
    display: block;
    padding-top: 4rem;
    background: linear-gradient(
      135deg,
      var(--ion-color-dark),
      var(--ion-color-primary),
      var(--ion-color-tertiary)
    );
  }

  .latest-deals {
    margin-top: -4rem;

    .offer-card {
      ion-card {
        width: 100%;
        height: 168px;
        position: relative;
        text-align: center;

        &:before {
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          background-color: rgba(rgb(0, 0, 0), 0.65);
        }
      }

      .offer-title {
        position: absolute;
        top: 25%;
        width: 100%;
        font-size: 30px;
        font-weight: 500;
        color: white;
      }

      .offer-subtitle {
        position: absolute;
        top: 58%;
        left: 25%;
        width: 50%;
        color: white;
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: var(--ion-color-secondary);
      }

      .offer-tag {
        position: absolute;
        top: 12px;
        right: -32px;
        width: 120px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
        text-align: center;
        transform: rotate(45deg);

        &.place {
          background-color: rgba(var(--ion-color-danger-rgb), 0.65);
        }

        &.discount {
          background-color: rgba(var(--ion-color-success-rgb), 0.65);
        }

        &.deal {
          background-color: rgba(var(--ion-color-warning-rgb), 0.65);
        }
      }
    }

    .promo-card {
      ion-card {
        width: 100%;
        height: 198px;
        position: relative;
        text-align: center;

        &:before {
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          background-color: rgba(var(--ion-color-dark-rgb), 0.65);
        }
      }

      .deal-title {
        position: absolute;
        top: 25%;
        width: 100%;
        font-size: 28px;
        font-weight: 500;
        color: var(--ion-color-tertiary);

        strong {
          color: var(--ion-color-secondary);
        }
      }

      .deal-subtitle {
        position: absolute;
        top: 45%;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: white;
      }

      .deal-cta {
        position: absolute;
        top: 70%;
        left: 25%;
        width: 50%;
        color: white;
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: var(--ion-color-secondary);
      }
    }
  }
}
