<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-text color="tertiary" class="fw-300">Booking</ion-text>
      <ion-text color="light" class="fw-700">Trip</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="light">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="light">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="light">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
