<header-menu></header-menu>

<ion-content>
  <div class="ion-no-magin wrapper-deals">
    <div class="latest-deals bg-light">
      <ion-card-header>
        <ion-card class="ion-no-margin w-100">
          <ion-card-content class="bg-secondary">
            <h2 class="ion-text-center text-white text-10">
              Make a reservation sooner
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-card-header>

      <ion-card-content class="offer-card">
        <ion-card
          (click)="loadBookingForm()"
          class="ion-no-margin ion-margin-bottom"
          tappable
        >
          <img src="assets/images/covers/flight-banner.jpg" />
          <div class="offer-title">Puerto Rico</div>
          <div class="offer-subtitle">
            <ion-text color="danger" class="fw-700">120</ion-text>
            &nbsp;seats available!
          </div>
          <span class="offer-tag place text-white fw-300"> top places </span>
        </ion-card>
        <ion-card class="ion-no-margin ion-margin-bottom" tappable>
          <img src="assets/images/covers/flight-banner.jpg" />
          <div class="offer-title">Argentina</div>
          <div class="offer-subtitle">
            <ion-text color="danger" class="fw-700">$250</ion-text>
            &nbsp;off plane ticket
          </div>
          <span class="offer-tag discount text-white fw-300">last minute</span>
        </ion-card>
        <ion-card class="ion-no-margin ion-margin-bottom" tappable>
          <img src="assets/images/covers/flight-banner.jpg" />
          <div class="offer-title">Rome</div>
          <div class="offer-subtitle">
            <ion-text color="danger" class="fw-700">$320</ion-text>
            &nbsp;off in round trip
          </div>
          <span class="offer-tag deal text-white fw-300"> only today </span>
        </ion-card>
      </ion-card-content>

      <ion-card-content class="promo-card">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-no-padding ion-margin-bottom">
              <ion-card class="ion-no-margin">
                <img src="assets/images/covers/cruise-banner.jpg" />
                <div class="deal-title">SAVE UP TO <strong>$300</strong></div>
                <p class="deal-subtitle">any destinations on the Caribbean</p>
                <div class="deal-cta">Book now</div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>
