<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your Flight Itinerary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bg-white" *ngIf="departingFlight">
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none" color="light">
        <ion-icon name="airplane"></ion-icon>
        <ion-label>&nbsp;&nbsp;Departing Flight</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="departingFlight.companyLogo" />
        </ion-thumbnail>

        <ion-label>
          <h2>
            <ion-text color="dark">
              <strong>{{ departingFlight.departureTime }}</strong> -
              <strong>{{ departingFlight.arrivalTime }}</strong>
            </ion-text>
          </h2>
          <h3>
            <ion-text color="success">
              {{ departingFlight.duration }} ({{ departingFlight.layover }})
            </ion-text>
          </h3>
          <h3>
            <ion-text color="primary">
              <strong>{{ departingFlight.originCode }} &nbsp;</strong>
              <ion-icon name="airplane"></ion-icon>
              <strong> &nbsp;{{ departingFlight.destinationCode }}</strong>
            </ion-text>
          </h3>
        </ion-label>

        <div slot="end">
          <ion-badge color="success">
            <h2 class="text-white fw-500">
              {{ departingFlight.ticketPrice | currency:'USD':'symbol':'2.0' }}
            </h2>
          </ion-badge>
          <p class="text-6">
            <ion-text color="secondary"> ticket price </ion-text>
          </p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg-white" *ngIf="returningFlight">
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none" color="light">
        <ion-icon name="airplane" class="return"></ion-icon>
        <ion-label>&nbsp;&nbsp;Returning Flight </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="returningFlight.companyLogo" />
        </ion-thumbnail>

        <ion-label>
          <h2>
            <ion-text color="dark">
              <strong>{{ returningFlight.departureTime }}</strong> -
              <strong>{{ returningFlight.arrivalTime }}</strong>
            </ion-text>
          </h2>
          <h3>
            <ion-text color="success">
              {{ returningFlight.duration }} ({{ returningFlight.layover }})
            </ion-text>
          </h3>
          <h3>
            <ion-text color="primary">
              <strong>{{ returningFlight.originCode }} &nbsp;</strong>
              <ion-icon name="airplane"></ion-icon>
              <strong>&nbsp;{{ returningFlight.destinationCode }}</strong>
            </ion-text>
          </h3>
        </ion-label>

        <div slot="end">
          <ion-badge color="success">
            <h2 class="text-white fw-500">
              {{ returningFlight.ticketPrice | currency:'USD':'symbol':'2.0' }}
            </h2>
          </ion-badge>
          <p class="text-6">
            <ion-text color="secondary">ticket price</ion-text>
          </p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg-white">
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none" color="light" class="fw-700">
        <ion-label color="primary">Departure Info</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item class="ion-text-left">
        <ion-label>
          <ion-text color="secondary" class="fw-500 text-8">
            Date of Departure:
          </ion-text>
        </ion-label>
        <h3>
          <ion-text color="dark">
            <strong class="text-7"> 01/21/2020 </strong>
          </ion-text>
        </h3>
      </ion-item>
    </ion-card-content>
    <ion-card-content class="ion-no-padding">
      <ion-item class="ion-text-left">
        <ion-label>
          <ion-text color="secondary" class="fw-500 text-8"> From: </ion-text>
        </ion-label>
        <h3>
          <ion-text color="dark">
            <strong class="text-7"> Fort Lauderdale, Florida </strong>
          </ion-text>
        </h3>
      </ion-item>
    </ion-card-content>
    <ion-card-content class="ion-no-padding">
      <ion-item class="ion-text-left">
        <ion-label>
          <ion-text color="secondary" class="fw-500 text-8"> To: </ion-text>
        </ion-label>
        <h3>
          <ion-text color="dark">
            <strong class="text-7"> Atlanta, Georgia </strong>
          </ion-text>
        </h3>
      </ion-item>
    </ion-card-content>
    <ion-card-content class="ion-no-padding">
      <ion-item class="ion-text-left">
        <ion-label>
          <ion-text color="secondary" class="fw-500 text-8"
            >Purchased Class:
          </ion-text>
        </ion-label>
        <h3>
          <ion-text color="dark">
            <strong class="text-7">
              {{ departingFlight.purchaseClass }}
            </strong>
          </ion-text>
        </h3>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button
    (click)="openProfileInfo()"
    class="ion-no-margin"
    size="large"
    expand="block"
    color="secondary"
  >
    <ion-icon slot="start" name="airplane"></ion-icon>
    Select Itinerary
  </ion-button>
</ion-content>
