<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="flights/flights-search">
      <ion-label>Search Flights</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="shared/incentives">
      <ion-label>New Destinations</ion-label>
      <ion-icon name="globe"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cruises/cruises-search">
      <ion-label>Beta (Cruises)</ion-label>
      <ion-icon name="boat"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
