:host {
  ion-header {
    background: var(--ion-color-primary);

    h2 {
      color: var(--ion-color-secondary);
    }
  }
}
ion-content {
  --background: linear-gradient(
    135deg,
    var(--ion-color-dark),
    var(--ion-color-primary)
  );

  .wrapper {
    margin: 10px 0;
    background-color: transparent;
    padding-top: 140px;
  }

  .app-info {
    position: absolute;
    top: -15px;
    width: 95%;
    z-index: 1;
    text-align: center;
  }

  .app-logo {
    display: block;
    border-radius: 100px;
    border: 1px solid white;
    width: 128px;
    height: 128px;
    margin: 30px auto 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }
}

ion-list {
  &.list-md {
    padding: 0;
  }
}
