// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #0763e9;
  --ion-color-primary-rgb: 7, 99, 223;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0657cd;
  --ion-color-primary-tint: #2073eb;

  /** secondary **/
  --ion-color-secondary: #ffa72b;
  --ion-color-secondary-rgb: 255, 167, 43;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e09326;
  --ion-color-secondary-tint: #ffb040;

  /** tertiary **/
  --ion-color-tertiary: #4cc4ff;
  --ion-color-tertiary-rgb: 76, 196, 255;
  --ion-color-tertiary-contrast: #0445a3;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #43ace0;
  --ion-color-tertiary-tint: #5ecaff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 206, 9;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #044eb9;
  --ion-color-dark-rgb: 4, 78, 185;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0445a3;
  --ion-color-dark-tint: #1d60c0;

  /** medium **/
  --ion-color-medium: #41cac6;
  --ion-color-medium-rgb: 65, 202, 198;
  --ion-color-medium-contrast: #0445a3;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #39b2ae;
  --ion-color-medium-tint: #54cfcc;

  /** light **/
  --ion-color-light: #ecf9ff;
  --ion-color-light-rgb: 236, 249, 255;
  --ion-color-light-contrast: #0763e9;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d0dbe0;
  --ion-color-light-tint: #eefaff;
}
