<ion-app>
  <ion-split-pane contentId="sideMenuContent">
    <ion-menu contentId="sideMenuContent" type="overlay">
      <ion-content class="bg-color animated fadeIn">
        <ion-card-content class="wrapper-customer">
          <div class="passenger-info" *ngIf="passenger">
            <img
              class="passenger-avatar"
              src="../assets/images/logo/alt-logo.png"
            />
            <h3 class="passenger-name">Sample Name</h3>
            <p class="passenger-contact">
              <a href="#">Sample Email </a>
            </p>
          </div>
        </ion-card-content>
        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let mobilePage of sideMenuPages"
          >
            <ion-item [routerLink]="[mobilePage.url]" color="primary">
              <ion-icon
                slot="start"
                [name]="mobilePage.icon"
                color="light"
              ></ion-icon>
              <ion-label>
                {{ mobilePage.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="sideMenuContent"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
