<ion-app>
  <ion-split-pane contentId="sideMenuContent">
    <ion-menu contentId="sideMenuContent" type="overlay">
      <ion-header>
        <div class="customer-info">
          <ion-menu-toggle auto-hide="false">
            <div class="avatar-img">
              <img src="../assets/images/logo/alt-logo.png" />
            </div>
            <h2 class="text-8 fw-500">Customer Name</h2>
            <p class="text-white">Last seen: today at 3:40 pm</p>
          </ion-menu-toggle>
        </div>
      </ion-header>
      <!-- -->
      <ion-content class="bg-color">
        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let mobilePage of sideMenuPages"
          >
            <ion-item [routerLink]="[mobilePage.url]" color="primary">
              <ion-icon
                slot="start"
                [name]="mobilePage.icon"
                color="light"
              ></ion-icon>
              <ion-label>
                {{ mobilePage.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="sideMenuContent"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
