:host {
  ion-toolbar.user-profile {
    .avatar-img {
      width: 68px;
      height: 68px;
    }
  }

  ion-content {
    --background: linear-gradient(
      135deg,
      var(--ion-color-dark),
      var(--ion-color-primary)
    );
  }

  ion-list {
    &.list-md {
      padding: 0;
    }
  }
}
