<ion-app>
  <ion-split-pane contentId="sideMenuContent">
    <ion-menu contentId="sideMenuContent">
      <ion-content class="bg-menu">
        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let mobilePage of sideMenuPages"
          >
            <ion-item [routerLink]="[mobilePage.url]" color="primary">
              <ion-icon
                slot="start"
                [name]="mobilePage.icon"
                color="light"
              ></ion-icon>
              <ion-label>
                {{ mobilePage.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
</ion-app>
