<ion-content class="ion-padding animated fadeIn visitor">
  <div class="content">
    <form class="form-fields">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light">
                First name
              </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light">
                Last name
              </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light"> Gender </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light"> Age </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light">Country </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light"
                >Current address
              </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light"> Email </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light">
                Password
              </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light">
                Confirm password
              </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="ion-no-padding animated fadeInUp">
              <ion-label position="floating" color="light">
                Phone number
              </ion-label>
              <ion-input color="secondary" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <div class="ion-margin-top">
      <ion-button
        icon-left
        size="medium"
        expand="full"
        shape="round"
        color="secondary"
        tappable
      >
        Sign up
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top">
      <span tappable>
        <ion-text color="light">
          <strong>Already have an account?</strong>
        </ion-text>
      </span>
    </div>
  </div>
</ion-content>
