:host {
  ion-content {
    --background: linear-gradient(
      -135deg,
      var(--ion-color-dark),
      var(--ion-color-tertiary)
    );
  }

  ion-item {
    --border-style: dotted;
    --border-radius: 4px;
  }
}
